/*内部网页通用样式*/
.page-main-box{width:100%;height:auto;margin: 0 auto;}
.page-main-box .page-main-mbox{width:100%;height:auto;margin: 0 auto;}
.page-main-box .page-main{width:1400px;margin: 0 auto;}
.page-main-box .page-main table{max-width:860px;}
.page-main-box .page-main img{max-width:860px;}
/*左侧菜单*/
.page-main-box .page-main .left-menu{width:21%;float:left;text-align:left;position: relative; top: 100px;}
.page-main-box .page-main .left-menu .head{width:100%;height:100px;line-height:100px;background:#d6000f;font-size:26px;color:#ffffff;text-indent:40px;margin-top: -60px;}
.page-main-box .page-main .left-menu ul{width:100%;font-size:16px;color:#ffffff;background:#f2f2f2;}
.page-main-box .page-main .left-menu ul a{color:#323232;width:100%;height:100%;}
.page-main-box .page-main .left-menu ul li{text-indent:40px;text-align:left;width:100%;height:60px;line-height:60px;border-left: 7px solid #d6000f;}
.page-main-box .page-main .left-menu ul .current-cat{background:url(../images/left-menu-on1.png) left no-repeat,url(../images/left-menu-on2.png) right no-repeat #ffffff;color:#b06c24;background:#ffffff;box-shadow: 6px 6px 10px 2px rgba(0, 0, 0, 0.1);}
.page-main-box .page-main .left-menu ul .current-cat a{color:#b06c24}
/*右侧显示*/
.page-main-box .page-main .search-page-box{width:100%;float:left;;position: relative;margin-bottom: 50px;}
.page-main-box .page-main .right-main-box-box{width:940px;float:left;;position: relative;margin-bottom: 50px;}
.page-main-box .page-main .right-main-box{background:#ffffff;}
.page-main-box .page-main .right-main-box .right-main{width:860px;min-height:500px;margin-left:40px;}
.page-main-box .page-main-mbox .page-main .right-main-box .search-page-box{width:100% !important;margin-left: 0px !important;}
.page-main-box .page-main .right-main-box .right-main .right-map{width:100%;height:56px;line-height:56px;border-bottom:3px solid #d6000f;}
.page-main-box .page-main .right-main-box .right-main .right-map .left{background:url('../images/right-head.png') left no-repeat;text-indent:34px;font-size:24px;color:#323232;}
.page-main-box .page-main .right-main-box .right-main .right-map .right{font-size:14px;line-height:36px;margin-top:20px;}
.page-main-box .page-main .right-main-box .right-main .right-map .right a{color:#323232}
.page-main-box .page-main .right-main-box .right-main .essay-list{width:100%;}
.page-main-box .page-main .right-main-box .right-main .essay-list a{color:#323232;}
/*.page-main-box .page-main .right-main-box .right-main .essay-list a:visited{color:#335b8d;}*/
.page-main-box .page-main .right-main-box .right-main .essay-list a:hover{color:#335b8d;}
.page-main-box .page-main .right-main-box .right-main .essay-list li{width:100%;height:54px;line-height:54px;font-size:14px;text-align:left;text-indent:21px;border-bottom:1px solid #cccccc; position:relative;}
.page-main-box .page-main .right-main-box .right-main .essay-list li .list-title{width:750px;height:54px;float:left;overflow:hidden;}
.page-main-box .page-main .right-main-box .right-main .essay-list li .list-time{float:right;}
.page-main-box .page-main .right-main-box .right-main .page-dao-box{width:100%;height:14px;margin-top:35px;text-align:center;}
.page-main-box .page-main .right-main-box .right-main .page-dao-box div{display:inline-block;}
.page-main-box .page-main .right-main-box .right-main .page-dao-box .jump-page-text{width:20px;height:14px;}
.page-main-box .page-main .right-main-box .right-main .page-dao-box .go{width:40px;height:20px;line-height:20px;font-size:14px;position:relative;top:2px;}
.page-main-box .page-main .right-main-box .right-main .pagedao{height:36px;line-height:36px;position:relative;margin-top:30px;}
.page-main-box .page-main .right-main-box .right-main .pagedao ul{height:36px;width:auto;list-style:none;margin:0 0;padding:0 0;display:table;float:right;}
.page-main-box .page-main .right-main-box .right-main .pagedao ul li{height:36px;width:36px;font-size:14px;color:#1a3148;background:#e9e9e9;float:left;margin-right:10px;text-align:center;cursor:pointer;}
.page-main-box .page-main .right-main-box .right-main .pagedao ul .on{background:#074d8d;color:#fff;}
.page-main-box .page-main .right-main-box .right-main .pagedao ul .none{background:#dddddd;color:#fff;cursor:auto;}
/*右侧显示的栏目菜单页公共部分*/
.right-column-box{width:860px;}
.right-title{height: 30px; line-height: 30px; text-indent: 10px; background-color: #dddddd;  color: black;}
.right-title a{color:black;}
.right-title a:hover{color:#084e96;}
.right-column-box .right-column-menu{width:auto;margin-top:35px;}
.right-column-box .right-column-menu a{color:#323232;}
.right-column-box .right-column-menu li{height:50px;line-height:50px;font-size:18px;float:left;margin-right:0px;cursor:pointer;background:#eeeeee;}
.right-column-box .right-column-menu li .block{width:30px;height:100%;float:left;}
.right-column-box .right-column-menu li .text{float:left;width:auto;}
/*.right-column-box .right-column-menu .last{margin-right:0px;}*/
.right-column-box .right-column-menu .on{color:#fafafa;background:#084e96;}
.right-column-box .right-column-content{width:100%;line-height:28px;font-size:14px;color:#323232;margin-top:40px;text-align:left;}

/*栏目介绍页-通用*/
.page-main-box .page-main .right-main-box .right-main .common-content{width:100%;margin-top:25px;margin-bottom:50px;line-height:28px;text-align:left;}
.page-main-box .page-main .right-main-box .right-main .common-content img{max-width:100%;}

/*文章页*/
.page-main-box .page-main .right-main-box .right-main .essay-title{font-size:24px;width:70%;line-height:36px;height:auto;text-align:center;margin-top:40px;margin:0 auto;font-weight:500; color: #d6000f;}
.page-main-box .page-main .right-main-box .right-main .essay-time{font-size:14px;width:100%;line-height:28px; padding-top: 10px; padding-bottom: 5px; margin-bottom:22px;border-bottom: 2px solid #cccccc; color: #323232; text-align:center;}
.page-main-box .page-main .right-main-box .right-main .essay-field{font-size:14px;line-height:28px;text-align:left;margin-top:10px;margin-bottom:60px;}
.page-main-box .page-main .right-main-box .right-main .essay-field img{max-width:100%;}
.next-page ul li {font-size:14px; color: #323232;}
.next-page ul li a {font-size:14px; color: #323232;}
.banner-c{width: 100%;height: 400px;background: url('../images/ban4.jpg') no-repeat center center; background-size: cover;}
.action-innerwraper img{width: 320px!important;height: 220px!important;}

.page-main-box .page-main .right-main-box .right-main .pagedao{height:36px;line-height:36px;position:relative;margin-top:30px;}
.page-main-box .page-main .right-main-box .right-main .pagedao a{height:36px;min-width:36px;font-size:14px;color:#1a3148;background:#e9e9e9;float:left;margin-right:10px;padding: 0 10px;text-align:center;cursor:pointer;}
.page-main-box .page-main .right-main-box .right-main .pagedao .current{background:#d6000f;color:#fff;}
.page-main-box .page-main .right-main-box .right-main .pagedao a:hover{background:#d6000f;color:#fff;cursor:auto;}